.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 75px 0;
}

/* background: linear-gradient(90deg, #9ebd13 0%, #008552 100%); */
.bg-gradient-primary {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
}

.bg-gradient-secondary {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.bg-gradient-different {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) and (min-width: 100px) {
  .centered {
    top: 40% !important;
  }

  .thumbnail {
    height: 100%;
    width: 100%;
  }
}

.font-size-lg {
  font-size: 40px;
}

.font-size-md {
  font-size: 28px;
}

.font-size-md {
  font-size: 22px;
}

.img-fluid {
  filter: opacity(50%);
}

.img-fluid-70 {
  filter: opacity(70%)
}

.input-text {
  font-size: 22px;
  padding: 17px;
}

.img-sm {
  height: 100%;
  width: 35px;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ffffff;
  margin: 1em 0;
  padding: 0;
}

.thumbnail {
  height: 100%;
  width: 60%;
}


.fix {
  width: 20%;
}

/* 
.textfield {
  height: 20%;
  background-color: #FC466B;
} */